@import url("https://fonts.googleapis.com/css?family=Trirong");


/*informazioni sul documento in generale (menu ecc..)*/

* {  /* seleziona tutti gli elementi */
	border: 0;
    font-family: 'Trirong';
	margin: 0;
    outline: 0;
    padding: 0;
	vertical-align: baseline;  /* valore di default, elemento allineato sulla stessa linea */
	text-decoration: none;
    box-sizing: border-box;
}

body {
    background-color:rgb(255, 254, 239);
    font-size: 18px;

}
  
.main {
    margin:auto; 
}

header {
    padding-block:2%;
}

h1 {
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    text-align: right;
    float: right;
    margin-top: 15px;
    margin-right: 10px;
}

#menu {
    overflow: hidden;
    background-color: rgb(48, 72, 177);
    position: fixed; 
    top: 0; 
    width: 100%; 
    z-index: 1000;
}
  
#menu a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
#menu a:hover {
    background: #ddd;
    color: black;
}

h2 {
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

section {
    background-color: rgb(150, 188, 214);
    border: 10px;
    border-radius:10px;
    margin: 50px;
    padding: 20px;
    display:auto;
    box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.2);
}

/* testi codificati e traduzioni */
section .testo{
    background-color: aliceblue;
    border: 10px;
    border-radius:10px;
    margin: 30px;
    padding: 10px;
    box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.2);
    max-width: 50%;
    box-sizing: auto;
}



#pagine21_22 > div:nth-child(4) {
    line-height: 20px;
}

#pagine21_22 {
    margin-top:100px;
}

.testo_pagina {
    justify-content: space-between;
    display: flex;
    text-decoration: none;
}

.pericope {
    color: rgb(0, 0, 0);
    letter-spacing: 4px;
    border-bottom: 3px dotted rgb(0, 0, 0);
}




#bottoniColori {
    border: 6px;
    border-radius:10px;
    margin: 5px;
    padding: 1em 2.5em;
    display:auto;
    text-align: center;
}

#bottoniColori > button:hover {
    transition: 0.2s;
    box-shadow:5px 5px 5px rgb(163, 157, 157);
	transform:scale(1.1,1.1);
}

#bottTerminologia button {
    border: 6px;
    border-radius:10px;
    margin: 40px 500px;
    padding: 20px;
    display:auto;
    font-size: 20px;
    float: center;
}



#informazioni > img {
    width: 250px;
    float: left;
    border-radius: 10px;
    margin: 20px;
    position: relative;
}

#informazioni > h3 {
    font-size: 16px;
}

#bio {
    text-align: justify;
    padding: 10px;
    margin: 10px;    
}

.immagini{
    width: 400px;
    display: inline-block;
    text-align: center;
    margin:10px;
    border-radius: 10px;
    justify-content: space-between;
}

footer {
    text-align: center;
    margin: 20px;
}


/*per il funzionamento dei bottoni*/

.parola > p {
    border-bottom: 3px solid white;
}

.expan, .reg, span, u{
    margin-left: 2px;
    margin-right: 2px;
}

.reg, .none, .del, .supplied, .expan, .gloss, .label {
    display: none;
}

.inline_block, .line_through, .purple {
    display: inline-block;
}


.del {
    text-decoration: line-through;
    background-color: rgb(77, 77, 146);
}

#glottonimo, .green {
    background-color: rgba(23, 197, 67, 0.911);
    padding: 5px;
    margin: 4px;
    border-radius:10px;
    
}

#cancellazione {
    background-color: rgb(77, 77, 146);
    padding: 5px;
    margin: 4px;
    border-radius:10px;
}

#aggiunte, .purple {
    background-color: rgb(196, 89, 196);
    padding: 5px;
    margin: 4px;
    border-radius:10px;
}

#abbreviazione, .expan {
    background-color: rgb(224, 138, 152);
    padding: 5px;
    margin: 4px;
    border-radius:10px;
}

#correzioni, .reg{
    background-color: rgb(253, 54, 54);
    padding: 5px;
    margin: 4px;
    border-radius:10px;
}
#toponimo, .bordeaux{
    background-color: rgb(156, 28, 28);
    padding: 5px;
    margin: 4px;
    border-radius:10px;
}

#termine, .yellow {
    background-color: yellow;
    padding: 5px;
    margin: 4px;
    border-radius:10px;
}

.terms {
    color: #000000;
    text-decoration: underline;
}